/* CSS Document */
:root {
	--monospace-font: "ubuntu-mono", Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	
	--main-color-light: hsl(217, 28%, 78%);
	--main-color-dark: hsl(217, 28%, 45%); /*#536b93*/;
	--second-color-light: white;
	--second-color-dark: gray;
	
	--default-text-size: 18px;
	--content-text-size: 18px;
	--header-text-size: calc(var(--content-text-size)*1.33);
	
	
	--nav-item-color: var(--main-color-dark);
	--nav-hover-color: var(--second-color-light);
	--nav-item-active: var(--nav-hover-color);
	--nav-shadow: 1px 1px 2px black, 0 0 25px var(--main-color-light), 0 0 5px var(--main-color-dark); /*#3AF;*/
	
	--text-color-light: var(--second-color-light);
	--text-color-dark: var(--second-color-dark);
	
	
	
	
	
	/*more cool stuff*/
	--default-font-style: 18px times new roman, serif 
	
	--content-text-font: var(--content-text-size) var(--monospace-font);
	
	
	--nav-item-width: 19%;
}

html, body{
	height: 100vmin;
	width: 100vmax;
	margin: 0px;
}

body{
	color: var(--text-color-light);
	font: var(--default-font-style);
	background-color: var(--main-color-dark);
	background-image: url(../images/open_brace.png), url(../images/close_brace.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left center, right center;
	background-size: contain, contain;
}

header{
	width: 100%;
	height: 40px;
	padding-top: 10px;
	text-align: center;
	font-family: var(--monospace-font);
	font-size: var(--header-text-size);
	text-shadow: 2px 2px 1px #000;
}

nav{
	width: 70%;
	height: 25px;
	margin: auto;
	background-color: white;
	font-family: var(--monospace-font);
	font-size: 18px;
	font-weight: bold;
}

nav ul{
	padding: 0px;
	list-style: none;
}

nav ul li{
	padding-top: 2px;
	width: var(--nav-item-width);
	display: inline-block;
	text-align: center;
}

nav ul li a{
	text-decoration: none;
	color: var(--nav-item-color);
	cursor: pointer;
}

nav ul li a:hover{
	color: var(--nav-hover-color);
	text-shadow: var(--nav-shadow);
}

nav ul li a.active{
	color: var(--nav-item-active);
	text-shadow: var(--nav-shadow);
}

main{
	width: 70%;
	height: calc(100% - 125px);
	margin: 0px auto;
	padding: 0px;
}
main div.dvContent{
	height: 100%;
	width: 100%;
	font-family: var(--monospace-font);
	font-size: var(--content-text-font);
	overflow: auto;
}

div.textdiv{
	position: relative;
	text-align: center;
	top: calc(50% - var(--content-text-size));
}

footer{
	height: 25px;
	width: 100%;
	text-align: center;
	font-size: 12px;
}

form.contactForm{
	display: table;
	width: 500px;
	margin: auto;
}

form.contactForm div{
	display: table-row;
}

form.contactForm span{
	width: 250px;	
	display: table-cell;
	vertical-align: top;
	padding: 5px;
}

form.contactForm span.label{
	text-align: right;	
}

form.contactForm span.input{
	text-align: left;
}

form.contactForm span.submit{
	width: 500px;
	text-align: center;
	display: table-footer-group;
}

/*generic*/
.hideme{
	display: none;
}

.showme{
	display: block;
}